files:
  "/sbin/appstart":
    mode: "000755"
    owner: webapp        # /sbin이면 root/root도 권장됨
    group: webapp
    content: |
      #!/usr/bin/env bash
      set -euo pipefail

      JAR_PATH="/var/app/current/application.jar"

      # run app
      pkill -f java || true
      exec java -Dfile.encoding=UTF-8 -Dspring.profiles.active=develop -jar "$JAR_PATH"
